<ion-tabs (ionTabsDidChange)="onTabChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed" [class.selected]="selectedTab === 'feed'">
      <lucide-angular [img]="House" class="my-icon"></lucide-angular>
      <ion-label>Comunidade</ion-label>
    </ion-tab-button>
    <ion-tab-button
      tab="modalidades"
      [class.selected]="selectedTab === 'modalidades'"
    >
      <lucide-angular [img]="Volleyball" class="my-icon"></lucide-angular>
      <ion-label>Modalidades</ion-label>
    </ion-tab-button>
    <ion-tab-button
      tab="campeonatos"
      [class.selected]="selectedTab === 'campeonatos'"
    >
      <lucide-angular [img]="Trophy" class="my-icon"></lucide-angular>
      <ion-label>Campeonatos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="metas" [class.selected]="selectedTab === 'metas'">
      <lucide-angular [img]="Zap" class="my-icon"></lucide-angular>
      <ion-label>Metas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
