<ion-content class="ion-padding">
  <app-menu-perfil
    [title]="pageTitle"
    [menu]="pageMenu"
    [menuContentId]="pageContent"
  ></app-menu-perfil>

  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="estatisticas-pessoais">
      <ion-label>Gerais</ion-label>
    </ion-segment-button>
    <ion-segment-button value="conquistas">
      <ion-label>Conquistas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment === 'estatisticas-pessoais'">
    <app-estatisticas-pessoais></app-estatisticas-pessoais>
  </div>

  <div *ngIf="selectedSegment === 'conquistas'">
    <app-conquistas></app-conquistas>
  </div>
</ion-content>
