<div *ngIf="isBlocked; else showCampeonatos">
  <app-bloqueado [mensagemBloqueio]="mensagemBloqueio"></app-bloqueado>
</div>

<ng-template #showCampeonatos>
  <div class="campeonatos-container">
    <ul>
      <li *ngFor="let campeonato of historicoCampeonatos" class="campeonato">
        <div class="campeonato-header">
          <h3 class="campeonato-nome">
            {{ campeonato.titulo }}
            <lucide-angular
              [img]="BookmarkCheck"
              class="cadeado-icon"
              [size]="25"
              [color]="'var(--gray-50)'"
            ></lucide-angular>
          </h3>
        </div>

        <div class="header">
          <div class="icon-align">
            <lucide-angular
              [img]="Flag"
              class="btn-inscrever-se"
              [size]="20"
              [color]="'var(--purple-desc)'"
            ></lucide-angular>
            <p>
              <strong>Status: </strong
              >{{ campeonato.situacaoCampeonato | titleCase }}
            </p>
          </div>

          <div class="icon-align">
            <lucide-angular
              [img]="Users"
              class="btn-inscrever-se"
              [size]="20"
              [color]="'var(--purple-desc)'"
            ></lucide-angular>
            <p>
              <strong>Times: </strong>
              {{
                timesPorCampeonato[campeonato.idCampeonato]
                  ? timesPorCampeonato[campeonato.idCampeonato].length
                  : 0
              }}
              /
              {{ campeonato.limiteTimes }}
            </p>
          </div>
          <div class="icon-align">
            <lucide-angular
              [img]="User"
              class="btn-inscrever-se"
              [size]="20"
              [color]="'var(--purple-desc)'"
            ></lucide-angular>
            <p>
              <strong>Jogadores: </strong>
              {{
                jogadoresPorCampeonato[campeonato.idCampeonato]
                  ? jogadoresPorCampeonato[campeonato.idCampeonato].length
                  : 0
              }}
              /
              {{
                (campeonato.limiteParticipantes || 0) *
                  (campeonato.limiteTimes || 0)
              }}
            </p>
          </div>

          <div class="icon-align">
            <lucide-angular
              [img]="Volleyball"
              class="btn-inscrever-se"
              [size]="20"
              [color]="'var(--purple-desc)'"
            ></lucide-angular>
            <p>
              <strong>Modalidade: </strong
              >{{ getModalidadeNome(campeonato.idModalidadeEsportiva) }}
            </p>
          </div>
          <div class="icon-align">
            <lucide-angular
              [img]="MessageSquareCode"
              class="btn-inscrever-se"
              [size]="20"
              [color]="'var(--purple-desc)'"
            ></lucide-angular>
            <p><strong>Código: </strong> {{ campeonato.codigo }}</p>
          </div>
        </div>

        <div class="campeonato-interacoes">
          <ion-accordion-group>
            <ion-accordion>
              <ion-item slot="header" class="detalhes-header">
                <ion-label><strong>Mais Informações</strong></ion-label>
              </ion-item>
              <div slot="content" class="detalhes">
                <div class="icon-align">
                  <lucide-angular
                    [img]="NotebookText"
                    class="btn-inscrever-se"
                    [size]="20"
                    [color]="'var(--yellow-desc)'"
                  ></lucide-angular>
                  <p><strong>Descrição:</strong> {{ campeonato.descricao }}</p>
                </div>
                <div class="icon-align">
                  <lucide-angular
                    [img]="Calendar"
                    class="btn-inscrever-se"
                    [size]="20"
                    [color]="'var(--yellow-desc)'"
                  ></lucide-angular>
                  <p>
                    <strong>Criação: </strong>
                    {{ campeonato.dataCriacao | date : "dd/MM/yyyy - HH:mm" }} h
                  </p>
                </div>
                <div class="icon-align">
                  <lucide-angular
                    [img]="User"
                    class="btn-inscrever-se"
                    [size]="20"
                    [color]="'var(--yellow-desc)'"
                  ></lucide-angular>
                  <p>
                    <strong>Criador: </strong>{{ campeonato.usernameCriador }}
                  </p>
                </div>
                <div class="icon-align">
                  <lucide-angular
                    [img]="CircleDollarSign"
                    class="btn-inscrever-se"
                    [size]="20"
                    [color]="'var(--yellow-desc)'"
                  ></lucide-angular>
                  <p><strong>Aposta: </strong> {{ campeonato.aposta }}</p>
                </div>
                <div class="icon-align">
                  <lucide-angular
                    [img]="CalendarArrowUp"
                    class="btn-inscrever-se"
                    [size]="20"
                    [color]="'var(--yellow-desc)'"
                  ></lucide-angular>
                  <p>
                    <strong>Início:</strong>
                    {{ campeonato.dataInicio | date : "dd/MM/yyyy - HH:mm" }} h
                  </p>
                </div>
                <div class="icon-align">
                  <lucide-angular
                    [img]="CalendarCheck"
                    class="btn-inscrever-se"
                    [size]="20"
                    [color]="'var(--yellow-desc)'"
                  ></lucide-angular>
                  <p>
                    <strong>Fim:</strong>
                    {{ campeonato.dataFim | date : "dd/MM/yyyy - HH:mm" }} h
                  </p>
                </div>
                <div class="endereco">
                  <div class="icon-align">
                    <lucide-angular
                      [img]="MapPin"
                      class="btn-inscrever-se"
                      [size]="20"
                      [color]="'var(--light-red)'"
                    ></lucide-angular>
                    <p>
                      <strong>Logradouro: </strong>
                      {{ campeonato.endereco.rua }},
                      {{ campeonato.endereco.numero }}
                    </p>
                  </div>
                  <div class="icon-align">
                    <lucide-angular
                      [img]="MapPin"
                      class="btn-inscrever-se"
                      [size]="20"
                      [color]="'var(--light-red)'"
                    ></lucide-angular>
                    <p>
                      <strong>Complemento: </strong>
                      {{ campeonato.endereco.complemento }}
                    </p>
                  </div>
                  <div class="icon-align">
                    <lucide-angular
                      [img]="MapPin"
                      class="btn-inscrever-se"
                      [size]="20"
                      [color]="'var(--light-red)'"
                    ></lucide-angular>
                    <p>
                      <strong>Cidade/UF: </strong>
                      {{ campeonato.endereco.cidade }}/{{
                        campeonato.endereco.uf
                      }}
                    </p>
                  </div>
                  <div class="icon-align">
                    <lucide-angular
                      [img]="MapPin"
                      class="btn-inscrever-se"
                      [size]="20"
                      [color]="'var(--light-red)'"
                    ></lucide-angular>
                    <p>
                      <strong>Bairro: </strong> {{ campeonato.endereco.bairro }}
                    </p>
                  </div>
                  <div class="icon-align">
                    <lucide-angular
                      [img]="MapPin"
                      class="btn-inscrever-se"
                      [size]="20"
                      [color]="'var(--light-red)'"
                    ></lucide-angular>
                    <p>
                      <strong>CEP: </strong>
                      {{ campeonato.endereco.cep | mask : "000000-000" }}
                    </p>
                  </div>
                </div>

                <ion-button
                  size="small"
                  expand="block"
                  class="icon-button"
                  [routerLink]="[
                    '/homepage/campeonato-gerenciamento',
                    campeonato.codigo
                  ]"
                >
                  <div class="text-container">Acessar</div>
                  <div class="icon-align">
                    <lucide-angular
                      [img]="ExternalLink"
                      class="btn-inscrever-se"
                      [size]="20"
                    ></lucide-angular>
                  </div>
                </ion-button>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </div>
      </li>
    </ul>
    <ion-button
      id="open-toast"
      size="small"
      expand="block"
      class="icon-button"
      (click)="carregarMaisCampeonatos()"
      *ngIf="isBlocked"
    >
      <div class="text-container">Mais Campeonatos</div>
      <div class="icon-align">
        <lucide-angular
          [img]="RotateCw"
          class="btn-inscrever-se"
          [size]="20"
        ></lucide-angular>
      </div>
    </ion-button>
  </div>
</ng-template>
