<ion-content class="ion-padding">
  <app-menu-perfil
    [title]="pageTitle"
    [menu]="pageMenu"
    [menuContentId]="pageContent"
  ></app-menu-perfil>
  <div class="container">
    <div class="card">
      <div class="img-container"></div>

      <div class="icon-align">
        <lucide-angular
          [img]="User"
          class="btn-inscrever-se"
          [size]="20"
          [color]="'var(--text-new-green)'"
        ></lucide-angular>
        <h2><strong class="user">{{username}}</strong></h2>
      </div>
      <div class="icon-align">
        <lucide-angular
          [img]="Volleyball"
          class="btn-inscrever-se"
          [size]="20"
          [color]="'var(--text-pink)'"
        ></lucide-angular>
        <p>
          <strong class="modalidades">{{modalidadesString}} </strong>
        </p>
      </div>

      <div class="icon-align">
        <lucide-angular
          [img]="MousePointerClick"
          class="btn-inscrever-se"
          [size]="20"
          [color]="'var(--text-orange)'"
        ></lucide-angular>
        <p>
          <strong class="avaliacoes">Avaliações: </strong>{{
          mediaAvaliacao?.quantidadeAvaliacoes }}
        </p>
      </div>
      <div class="icon-align">
        <lucide-angular
          [img]="ChartColumn"
          class="btn-inscrever-se"
          [size]="20"
          [color]="'var(--purple-desc)'"
        ></lucide-angular>
        <p>
          <strong class="media">Média: </strong>{{ mediaAvaliacao?.mediaGeral |
          number:'1.2-2' }}
        </p>
      </div>

      <p>
        <ng-container
          *ngFor="let star of [].constructor(quantidadeEstrelas); let i = index"
        >
          <lucide-angular
            [img]="Star"
            class="star"
            style="color: var(--yellow-desc)"
          ></lucide-angular>
        </ng-container>
        <ng-container *ngIf="temEstrelaMeia">
          <lucide-angular
            [img]="StarHalf"
            class="star"
            style="color: var(--yellow-desc)"
          ></lucide-angular>
        </ng-container>
        <ng-container
          *ngFor="let star of [].constructor(5 - quantidadeEstrelas - (temEstrelaMeia ? 1 : 0)); let i = index"
        >
          <lucide-angular
            [img]="Star"
            class="star"
            style="color: gray"
          ></lucide-angular>
        </ng-container>
      </p>

      <!-- Avaliação -->
      <div class="star-rating">
        <ng-container *ngFor="let star of stars; let i = index">
          <lucide-angular
            [img]="Star"
            class="star"
            [ngClass]="{'active': i < selectedRating}"
            (click)="rate(i + 1)"
          ></lucide-angular>
        </ng-container>
      </div>
    </div>

    <ion-button
    id="open-toast"
    size="small"
    expand="block"
    class="icon-button"
    [disabled]="isRatingSaved"
    (click)="saveRating()"
  >
    <div class="text-container">Salvar Avaliação</div>
    <div class="icon-align">
      <lucide-angular
        [img]="Save"
        class="btn-inscrever-se"
        [size]="20"
      ></lucide-angular>
      <!-- Toast exibido quando a avaliação é salva -->
      <ion-toast
        position="top"
        trigger="open-toast"
        message="Avaliação do usuário salva."
        position="bottom"
        [duration]="3000"
      ></ion-toast>
    </div>
  </ion-button>
  
  </div>
</ion-content>
