<div class="ion-page" [id]="menuContentId">
  <ion-header>
    <ion-toolbar class="toolbar-menu">
      <ion-buttons slot="end">
        <ion-menu-button [menu]="menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
</div>
<ion-menu [menuId]="menu" side="end" [contentId]="menuContentId">
  <ion-header>
    <ion-toolbar class="toolbar-tabs">
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ul class="menu-list">
      <li class="menu-item">
        <div class="item">
          <lucide-angular
            [img]="User"
            class="i-tem"
            [color]="'var(--text-new-green)'"
          ></lucide-angular>
          <ion-label>{{ user?.nome }}</ion-label>
        </div>
      </li>

      <li class="menu-item">
        <div class="item">
          <lucide-angular
            [img]="GraduationCap"
            class="i-tem"
            [color]="'var(--text-new-green)'"
          ></lucide-angular>
          <ion-label>{{ user?.curso }}</ion-label>
        </div>
      </li>
      <li class="menu-item">
        <div class="item">
          <lucide-angular [img]="Bell" class="i-tem"></lucide-angular>
          <ion-label (click)="goToPage('/pref-notif')">Preferências</ion-label>
        </div>
      </li>
      <li class="menu-item">
        <div class="item">
          <lucide-angular [img]="HeartPulse" class="i-tem"></lucide-angular>
          <ion-label (click)="goToPage('/canal-saude')">Canal Saúde</ion-label>
        </div>
      </li>
      <li class="menu-item">
        <div class="item">
          <lucide-angular
            [img]="ChartNoAxesCombined"
            class="i-tem"
          ></lucide-angular>
          <ion-label (click)="goToPage('/estatisticas')"
            >Estatísticas</ion-label
          >
        </div>
      </li>
      <li class="menu-item">
        <div class="item">
          <lucide-angular [img]="Settings" class="i-tem"></lucide-angular>
          <ion-label (click)="goToPage('/perfil-usuario-logado')"
            >Perfil</ion-label
          >
        </div>
      </li>

      <li class="menu-item">
        <div class="item">
          <div class="stars">
            <lucide-angular
              [img]="Star"
              *ngFor="let star of stars"
              [color]="star <= mediaAtual ? 'var(--yellow-desc)' : 'gray'"
              class="i-tem"
            ></lucide-angular>
          </div>
        </div>
      </li>
      <li class="menu-item">
        <div class="rating-info-inline">
          <ion-label
            >Média Geral:
            {{ mediaAvaliacao?.mediaGeral | number : "1.2-2" }} ({{
              mediaAvaliacao?.quantidadeAvaliacoes
            }}
            avaliações)</ion-label
          >
        </div>
      </li>

      <li class="menu-item">
        <div class="logout" (click)="logout()">
          <lucide-angular
            [img]="LogOut"
            [color]="'var(--light-red)'"
            class="log-out"
          ></lucide-angular>
          <ion-label>Sair</ion-label>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-menu>
