<div class="modal-background" (click)="closeModal()"></div>
<div class="modal-content">
  <div class="meta-details">
    <h3
      *ngIf="
        campeonato?.limiteParticipantes === 1 &&
        campeonato?.privacidadeCampeonato !== 'PRIVADO'
      "
      class="centralizado texto-verde"
    >
      Criar o seu próprio time?
    </h3>
    <p
      *ngIf="
        campeonato?.limiteParticipantes === 1 &&
        campeonato?.privacidadeCampeonato !== 'PRIVADO'
      "
      class="centralizado text-light"
    >
      O nome do time será o do seu usuário.
    </p>

    <h3>{{ time.nome }}</h3>

    <ul>
      <li class="item-lista2" *ngIf="campeonato?.limiteParticipantes !== 1">
        <div class="icon-align">
          <lucide-angular
            [img]="CaseUpper"
            class="btn-inscrever-se"
            [size]="20"
            [color]="'var(--yellow-desc)'"
          ></lucide-angular>
          <ion-label>Nome</ion-label>
        </div>
        <ion-input
          [(ngModel)]="time.nome"
          placeholder="Exemplo: Os enigmáticos"
          class="styled-input"
        ></ion-input>
      </li>

      <li
        class="item-lista2"
        *ngIf="campeonato?.privacidadeCampeonato === 'PRIVADO'"
      >
        <div class="icon-align">
          <lucide-angular
            [img]="Key"
            class="btn-inscrever-se"
            [size]="20"
            [color]="'var(--yellow-desc)'"
          ></lucide-angular>
          <ion-label>Senha</ion-label>
        </div>
        <ion-input
          [(ngModel)]="time.senhaCampeonato"
          placeholder="*****"
          class="styled-input"
          type="password"
        ></ion-input>
      </li>
    </ul>
  </div>

  <div class="button-group">
    <ion-button size="small" expand="block" (click)="closeModal()">
      <lucide-angular
        [img]="CircleX"
        class="btn-inscrever-se"
        [size]="20"
      ></lucide-angular>
      <div class="text-container">Fechar</div>
    </ion-button>

    <ion-button size="small" expand="block" (click)="criarTime()">
      <lucide-angular
        [img]="Save"
        class="btn-inscrever-se"
        [size]="20"
      ></lucide-angular>
      <div class="text-container">Salvar</div>
    </ion-button>
  </div>
</div>
