<ion-content class="ion-padding">
  <app-menu-perfil
    [title]="pageTitle"
    [menu]="pageMenu"
    [menuContentId]="pageContent"
  ></app-menu-perfil>

  <h3>
    <lucide-angular
      [img]="EyeOff"
      class="btn-inscrever-se"
      [size]="20"
      color="var(--text-green)"
    ></lucide-angular>
    Privacidade
  </h3>

  <div class="toggle">
    <ion-toggle
      labelPlacement="end"
      [(ngModel)]="privacidades.mostrarHistoricoCampeonatos"
      (ionChange)="mostrarEstadoToggle(privacidades.mostrarHistoricoCampeonatos)"
    ></ion-toggle>
    <ion-text>
      Permitir que outros usuários acessem o meu histórico de campeonatos
    </ion-text>
  </div>

  <div class="toggle">
    <ion-toggle
      labelPlacement="end"
      [(ngModel)]="privacidades.mostrarEstatisticasModalidadesEsportivas"
      (ionChange)="mostrarEstadoToggle(privacidades.mostrarEstatisticasModalidadesEsportivas)"
    ></ion-toggle>
    <ion-text>
      Permitir que outros usuários vejam as minhas estatísticas de desempenho
      esportivas
    </ion-text>
  </div>

  <div class="toggle">
    <ion-toggle
      labelPlacement="end"
      [(ngModel)]="privacidades.mostrarConquistas"
      (ionChange)="mostrarEstadoToggle(privacidades.mostrarConquistas)"
    ></ion-toggle>
    <ion-text>Permitir que outros usuários vejam as minhas conquistas</ion-text>
  </div>

  <ion-button
    id="open-toast8"
    (click)="atualizarPrivacidade()"
    size="small"
    expand="block"
    class="icon-button"
  >
    <div class="text-container">Salvar</div>
    <div class="icon-align">
      <lucide-angular
        [img]="SaveAll"
        class="btn-inscrever-se"
        [size]="20"
      ></lucide-angular>
    </div>
  </ion-button>
  <ion-toast
    position="bottom"
    trigger="open-toast8"
    message="Privacidades salvas com sucesso!"
    [duration]="3000"
  ></ion-toast>
</ion-content>
