<ion-content class="ion-padding">
  <app-menu-perfil
    [title]="pageTitle"
    [menu]="pageMenu"
    [menuContentId]="pageContent"
  ></app-menu-perfil>

  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="estatisticas">
      <ion-label>Estatísticas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="conquistas">
      <ion-label>Conquistas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="historico-campeonatos">
      <ion-label>Histórico</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-button size="small" (click)="avaliarJogador()" class="icon-button">
    <div class="text-container">Avaliar Jogador</div>
    <div class="icon-align">
      <lucide-angular
        [img]="Star"
        class="btn-inscrever-se"
        [size]="20"
      ></lucide-angular>
    </div>
  </ion-button>

  <div *ngIf="selectedSegment === 'estatisticas'">
    <app-estatisticas-pessoais
      [username]="username"
    ></app-estatisticas-pessoais>
  </div>

  <div *ngIf="selectedSegment === 'conquistas'">
    <app-conquistas [username]="username"></app-conquistas>
  </div>

  <div *ngIf="selectedSegment === 'historico-campeonatos'">
    <app-historico-campeonatos
      [username]="username"
    ></app-historico-campeonatos>
  </div>
</ion-content>
