<div *ngIf="isBlocked; else showCampeonatos">
  <app-bloqueado [mensagemBloqueio]="mensagemBloqueio"></app-bloqueado>
</div>

<ng-template #showCampeonatos>
  <div>
    <ul>
      <li
        *ngFor="let conquista of conquistas"
        class="item-lista"
        [ngClass]="{
          'meta-completo': conquista.conquistado,
          'meta-incompleto': !conquista.conquistado
        }"
      >
        <div class="estatistica-info">
          <h3
            [ngClass]="{
              'titulo-completo': conquista.conquistado,
              'titulo-incompleto': !conquista.conquistado
            }"
          >
            {{ conquista.metaEsportiva.titulo }}
            <span class="texto-light">{{
              getModalidadeName(conquista.metaEsportiva.idModalidadeEsportiva)
            }}</span>
          </h3>

          <div class="icon-align">
            <lucide-angular
              [img]="Target"
              class="btn-inscrever-se"
              [size]="20"
              [ngClass]="{
                'icon-completo': conquista.conquistado,
                'icon-incompleto': !conquista.conquistado
              }"
            ></lucide-angular>
            <p class="estatistica-descricao">
              <ion-label
                [ngClass]="{
                  'icon-completo': conquista.conquistado,
                  'icon-incompleto': !conquista.conquistado
                }"
              >
                Descrição:
              </ion-label>
              {{ conquista.metaEsportiva.descricao }}
            </p>
          </div>
          <div class="icon-align">
            <lucide-angular
              [img]="CircleDashed"
              class="btn-inscrever-se"
              [size]="20"
              [ngClass]="{
                'icon-completo': conquista.conquistado,
                'icon-incompleto': !conquista.conquistado
              }"
            ></lucide-angular>
            <p class="estatistica-progresso">
              <ion-label
                [ngClass]="{
                  'icon-completo': conquista.conquistado,
                  'icon-incompleto': !conquista.conquistado
                }"
              >
                Progresso:
              </ion-label>
              {{ conquista.progressoAtual }} /
              {{ conquista.metaEsportiva.progressoMaximo }}
            </p>
          </div>
          <div class="icon-align">
            <lucide-angular
              [img]="SignalHigh"
              class="btn-inscrever-se"
              [size]="20"
              [ngClass]="{
                'icon-completo': conquista.conquistado,
                'icon-incompleto': !conquista.conquistado
              }"
            ></lucide-angular>
            <p class="estatistica-objetivo">
              <ion-label
                [ngClass]="{
                  'icon-completo': conquista.conquistado,
                  'icon-incompleto': !conquista.conquistado
                }"
              >
                Desempenho:
              </ion-label>
              {{
                (conquista.progressoAtual /
                  conquista.metaEsportiva.progressoMaximo) *
                  100 | number : "1.0-0"
              }}% da conquista completa
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ng-template>
